
<h1 class="header">Board</h1>

<div id="kanban-board">
   <div class="queue">
      <div class="queue-name">UAT</div>
      <div class="queue-body">
         <div class="story">
            <div class="drag-handle"></div>
            <div class="title">Story 1:</div>
            <div class="description">Some description</div>
         </div>
         <div class="story">
            <div class="drag-handle"></div>
            <div class="title">Story 2:</div>
            <div class="description">Some description might goes here</div>
         </div>
         <div class="story">
            <div class="drag-handle"></div>
            <div class="title">Story 3:</div>
            <div class="description">Some description goes here</div>
         </div>
      </div>
   </div>
   <div class="queue">
      <div class="queue-name">Development</div>
      <div class="queue-body">
         <div class="story">
            <div class="drag-handle"></div>
            <div class="title">Story 4:</div>
            <div class="description">Some description will some day go here</div>
         </div>
      </div>
   </div>
   <div class="queue">
      <div class="queue-name">Code Review</div>
      <div class="queue-body">
         <div class="story">
            <div class="drag-handle"></div>
            <div class="title">Story 5:</div>
            <div class="description">Some really long very detailed description goes here or nearby here.</div>
         </div>
         <div class="story">
            <div class="drag-handle"></div>
            <div class="title">Story 6:</div>
            <div class="description">Some description will never go here</div>
         </div>
      </div>
   </div>
   <div class="queue">
      <div class="queue-name">QA</div>
      <div class="queue-body">
      </div>
   </div>
   <div class="queue">
      <div class="queue-name">Done</div>
      <div class="queue-body">
      </div>
   </div>

   <br clear="both" /><br clear="both" />
</div>


<a class="button" href="/">Back</a>
